@import url(//fonts.googleapis.com/css?family=VT323);

/**
* Terminal container.
* Important note: The "VT323" font face comes from Google web fonts.
*/
#terminal {
    font-family: ''Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
    width:       100%;
    height:      100%;
     background-color: green;
     color:antiquewhite;
     padding: 20px

}
#cloak5b9dc25cc606f365697f565946e70751 > a{
    color:#46e8a7;
}
/**
* The input span where the input happens.
* Also applied to the previous inputs made in the current session.
*/
#terminal .input {
    height:         1em;
    min-width:      1em;
    outline-color:  transparent;
    /*padding: 2px;*/
    /*border:         1px solid black;*/
    display:        inline-block;
}

#terminal p {
    margin:     0;
    padding:    0;
}
